<div class="container">
  <div class="col-md-6 offset-md-3 local-events">
    <h1>Results</h1>
    <% if @results.empty? || @result.nil? %>
      <p>No results were found.</p>
    <% else %>
      <% @results.each do |e| %>
        <div class="container event">
          <p class="date"><%= e.date %></p>
          <p class="place"><%= e.place %></p>
          <p class="keywords"><%= e.keywords %></p>
        </div>
      <% end %>

      <%= will_paginate @results %>
    <% end %>
  </div>
</div>
