// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Typography

h1, h2, h3, h4, h5, h6, p, a {
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}

// Header
header {
  height: 26vw;
  border: none;
  margin: 0;
  background: asset-url("header_main.jpeg") no-repeat center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover !important;
  -o-background-size: cover;
}

// Navigation bar
nav {
  position: relative;
  top: -27vw;
  left: -2vw;
  a {
    color: white;
    font-size: 1.3vw;
    img {
      width: 4.405vw;
      height: 4vw;
      border-radius: 100%;
      float: left;
      margin-top: 0.5vw;
    }
    p#brand-name {
      font-size: 1.65vw;
      font-weight: bold;
      margin: 0;
      border-right: solid 1px white;
      padding-right: 5vw;
    }
    &:hover {
      color: white;
    }
  }
  a.nav-link {
    margin-top: 1.2vw;
    font-weight: lighter;
    height: 2.7vw;
    &:hover {
      border-bottom: 1px solid white;
      color: white;
    }
  }
}